<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Easy way to make a hamburguer button -->
    <!-- <ion-menu-button
      slot="end"
      color="dark"
      menu="primerMenu">
    </ion-menu-button> -->
    <ion-title>
      App - List of Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    The force be with you
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>

  <ion-button routerLink="/about" expand="full">
    Components
  </ion-button>

</ion-content>
