<app-header titulo="Card Page"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Blog</ion-card-title>
      <ion-card-subtitle>How to deploy an app</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="secondary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>
        Marcador
      </ion-label>
    </ion-item>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
    </ion-card-content>
  </ion-card>

</ion-content>
